<!DOCTYPE html>
<html>
	<title>ChocoBrown</title>
<head>
	<meta charset="utf-8">

	<div id="rectangle">
			<img src="ice1.jpg" id="ImagenMain">
	</div>
		<header id="Nombre"><h2>𝓒𝓱𝓸𝓬𝓸𝓑𝓻𝓸𝔀𝓷</h2></header>
</head>
<body>
	<p align="center">𝓝𝓾𝓮𝓼𝓽𝓻𝓸 𝓸𝓫𝓳𝓮𝓽𝓲𝓿𝓸 𝓮𝓼 𝓪𝓵𝓮𝓰𝓻𝓪𝓻 𝓪 𝓵𝓪𝓼 𝓹𝓮𝓻𝓼𝓸𝓷𝓪𝓼</p>
		<table class="Tabla">
			<tr id="Titulos">	
				<th style="border: black solid 1px; padding: 10px;" >𝓑𝓻𝓸𝔀𝓷𝓲𝓮𝓼		</th>
				<th style="border: black solid 1px; padding: 10px;">𝓣𝓪𝓶𝓪ñ𝓸			</th>
				<th style="border: black solid 1px; padding: 10px;">𝓐𝓭𝓲𝓬𝓲𝓸𝓷𝓪𝓵𝓮𝓼	</th>
				<th style="border: black solid 1px; padding: 10px;">𝓒𝓸𝓼𝓽𝓸			</th>
			</tr>
				<tr>
					<td style="border: black solid 1px; padding: 10px;">𝒞𝒽𝑜𝒸𝑜𝓁𝒶𝓉𝑒		</td>
					<td style="border: black solid 1px; padding: 10px;">5𝒸𝓂				</td>
					<td style="border: black solid 1px; padding: 10px;">𝒩𝓊𝑒𝒸𝑒𝓈,𝐻𝑒𝓁𝒶𝒹𝑜,𝒞𝒽𝒾𝓈𝓅𝒶𝓈 𝒹𝑒 𝒸𝒽𝑜𝒸𝑜𝓁𝒶𝓉𝑒 𝓸 𝑀&𝑀</td>
					<td style="border: black solid 1px; padding: 10px;">$2				</td>
				</tr>
				<tr>
					<td style="border: black solid 1px; padding: 10px;">𝒱𝒶𝒾𝓃𝒾𝓁𝓁𝒶		</td>
					<td style="border: black solid 1px; padding: 10px;">5𝒸𝓂				</td>
					<td style="border: black solid 1px; padding: 10px;">𝒩𝓊𝑒𝒸𝑒𝓈,𝐻𝑒𝓁𝒶𝒹𝑜,𝒞𝒽𝒾𝓈𝓅𝒶𝓈 𝒹𝑒 𝒸𝒽𝑜𝒸𝑜𝓁𝒶𝓉𝑒 𝓸 𝑀&𝑀</td>
					<td style="border: black solid 1px; padding: 10px;">$2				</td>
				</tr>
				<tr>
					<td style="border: black solid 1px; padding: 10px;">𝒞𝑜𝓇𝒶𝓏𝑜𝓃 𝒹𝑒 𝒞𝒽𝑜𝒸𝑜𝓁𝒶𝓉𝑒</td>
					<td style="border: black solid 1px; padding: 10px;">24𝒸𝓂 				 </td>
					<td style="border: black solid 1px; padding: 10px;">𝑀&𝑀				 </td>
					<td style="border: black solid 1px; padding: 10px;">$6					 </td>
				</tr>
	</table>
				<div class="NUMERO">𝓟𝓮𝓭𝓲𝓭𝓸𝓼 𝓭𝓮𝓷𝓽𝓻𝓸 𝓭𝓮 𝓑𝓮𝓵𝓵𝓸𝓱𝓸𝓻𝓲𝔃𝓸𝓷𝓽𝓮 𝓰𝓻𝓪𝓽𝓲𝓼 𝓮𝓼𝓬𝓻𝓲𝓫𝓮𝓷𝓸𝓼 𝓪𝓵 +0984422986</div>
	<link rel="stylesheet" href="Main.css">
</body>
</html>